{{> menu id="about"}}

<section class="ui left aligned middle aligned segment">

  <h2>About Aisha's App</h2>
  <p>
    Some information on the creator!
  </p>



  <div class="ui centered card" style=" width: 500px;">
    <div class="image">
      <img src="/map.jpeg">

    </div>


    <div class="content">
      <a class="header">Aisha </a>
      <div class="meta">
        <span class="date">Joined in 2026</span>
      </div>
      <div class="description">
        Aisha Bertrandt is a Full-Time Student living in Waterford.
      </div>
    </div>
  </div>




  <div class="ui four statistics" style="margin-top: 1em;">
    <div class="statistic">
      <div class="value">
        <i class="book icon"></i>
      </div>

      <div class="label">
        App Title: <br>
        Aisha's App
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <i class="code branch icon"></i>
      </div>
      <div class="label">
        App Version: <br>
        0.2
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="map pin icon"></i>
      </div>
      <div class="label">
        Made in: <br>
        Waterford
      </div>
    </div>
    <div class="statistic">
      <div class="value">
        <i class="user icon"></i>
      </div>
      <div class="label">
        Created by: <br>
        Aisha Bertrandt
      </div>
    </div>



  </div>
  </div>

</section>