{{> menu}}

<section class="ui center aligned middle aligned segment">
    <h2>Aisha's App!</h2>
    <p>
        TThis app shows some of the book series that I am in the process of reading/have read!
    </p>

    <div class="img">
   <img src="/startbook.png" width="900" height="350"></div>

   

</section>